<section class="featured-food">
    <h2 class="text-center">manpulation meal</h2>
    <div class="container" class="col-2"> 
        <div class="col-md-3">
                <div class="food-item"  >
                    <div class="primary-white-button">
                        <a routerLink="/add_meal"  class="scroll-link" data-id="book-table">Add meal</a>
                    </div>
                </div>  
        </div>
    
    <div class="col-md-3">
        <div class="food-item"  >
            <div class="primary-white-button">
                <a routerLink=""  class="scroll-link" data-id="book-table">update or delete</a>
            </div>
        </div>  
    </div>
    <div class="col-md-3">
        <div class="food-item"  >
            <div class="primary-white-button">
                <a routerLink=""  class="scroll-link" data-id="book-table">add discount</a>
            </div>
        </div>  
    </div>
    </div>
     
</section>
